### Author: Mohamed Ismail Amer
### Domain: Computer Vision and Internet of things
### Task 2: Color Identification in Images

In [40]:
# necessary imports
import cv2
import pandas as pd

In [41]:
df = pd.read_csv('colors.csv')

In [42]:
df.head()

     air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
0   air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
1  air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
2       alabama_crimson        Alabama Crimson  #a32638  163   38   56
3            alice_blue             Alice Blue  #f0f8ff  240  248  255
4      alizarin_crimson       Alizarin Crimson  #e32636  227   38   54

In [43]:
idx = ['color', 'color_name', 'hex_value', 'R', 'G', 'B']

In [44]:
df = pd.read_csv('colors.csv', names=idx)
df

                    color             color_name hex_value    R    G    B
0      air_force_blue_raf   Air Force Blue (Raf)   #5d8aa8   93  138  168
1     air_force_blue_usaf  Air Force Blue (Usaf)   #00308f    0   48  143
2    air_superiority_blue   Air Superiority Blue   #72a0c1  114  160  193
3         alabama_crimson        Alabama Crimson   #a32638  163   38   56
4              alice_blue             Alice Blue   #f0f8ff  240  248  255
..                    ...                    ...       ...  ...  ...  ...
860         yellow_orange          Yellow Orange   #ffae42  255  174   66
861        yellow_process       Yellow (Process)   #ffef00  255  239    0
862            yellow_ryb           Yellow (Ryb)   #fefe33  254  254   51
863                zaffre                 Zaffre   #0014a8    0   20  168
864     zinnwaldite_brown      Zinnwaldite Brown   #2c1608   44   22    8

[865 rows x 6 columns]

In [45]:
print(len(df))

865

In [46]:
# need variables 
isClicked = False
r = g = b = x_pos = y_pos = 0

## Define Draw Function

In [47]:
def draw(event, x, y, flags, parameters):
    if event == cv2.EVENT_LBUTTONDBLCLK:
        global isClicked, r, g, b, x_pos, y_pos
        isClicked = True
        x_pos = x
        y_pos = y
        b, g, r = img[y, x]
        r = int(r)
        g = int(g)
        b = int(b)

## Define the match_image_by_color which returns the color name

In [48]:
def match_image_by_color(R, G, B):
    minimum = 1e5
    for i in range(len(df)):
        diff = abs(R-int(df.loc[i, 'R']))+abs(G-int(df.loc[i, 'G']))+abs(B-int(df.loc[i, 'B']))
        if diff<=minimum:
            minimum = diff
            color_name = df.loc[i, 'color_name']
    return color_name

## Read The image

In [49]:
img = cv2.imread('img.jpg')
img = cv2.resize(img, (800,600))

In [39]:
cv2.namedWindow('image')
cv2.setMouseCallback('image', draw)

while True:
    cv2.imshow('image', img)
    if isClicked:
        cv2.rectangle(img, (20,20), (600,60), (b,g,r), -1)
        txt = match_image_by_color(r,g,b) + ' R=' + str(r) + ' G=' + str(g) + ' B=' + str(b)
        cv2.putText(img, txt, (50,50), 2,0.8, (255,255,255),2,cv2.LINE_AA)
        if r+g+b >=600:
            cv2.putText(img, txt, (50,50), 2,0.8, (0,0,0),2,cv2.LINE_AA)
    
    if cv2.waitKey(20) & 0xFF == 27:
        break

cv2.destroyAllWindows()